name: Build Test Publish

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.7.2
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      env:
        QUICKBOOKS_SHARP_CLIENT_ID: ${{ secrets.QUICKBOOKS_SHARP_CLIENT_ID }}
        QUICKBOOKS_SHARP_CLIENT_SECRET: ${{ secrets.QUICKBOOKS_SHARP_CLIENT_SECRET }}
        QUICKBOOKS_SHARP_OAUTH_REDIRECT_URI: ${{ secrets.QUICKBOOKS_SHARP_OAUTH_REDIRECT_URI }}
        QUICKBOOKS_SHARP_REFRESH_TOKEN: ${{ secrets.QUICKBOOKS_SHARP_REFRESH_TOKEN }}
        QUICKBOOKS_SHARP_REALMID: ${{ secrets.QUICKBOOKS_SHARP_REALMID }}
      run: dotnet test --no-restore --verbosity normal
    - name: Publish to nuget
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push QuickBooksSharp/bin/Release/*.nupkg  -s https://api.nuget.org/v3/index.json --skip-duplicate -k $NUGET_API_KEY
